<div class="w-full font-sans">
    <div class="max-w-[1200px] mx-auto p-4 my-8 flex flex-col justify-center w-full h-full">

        <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-4">


            <% blogs.forEach(blog=> { %>
                <div class="bg-[#eeeded] p-4 rounded-lg shadow-md mt-4 h-full">
                    <h2 class="text-2xl font-semibold mb-4">
                        <%= blog.title %>
                    </h2>
                    <!-- <pre class="text-gray-600 mb-4">
                <%= blog.body %>
                </pre> -->
                    <!-- <div class=" flex aspect-w-4 aspect-h-3 mb-4 justify-center">
                        
                    </div> -->
                    <figure>
                        <img src="<%= blog.coverImageUrl %>" alt="Blog Image" class="mb-4 rounded-lg">

                    </figure>
                    <div class="flex items-center justify-between mb-2">
                        <button class="text-blue-500 hover:text-blue-600">
                            <svg class="w-5 h-5 mr-1 inline-block" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M19 12H6m13-5l-5-5-5 5m5 5V3"></path>
                            </svg>
                            <%= blog.likeCount %>
                        </button>
                        <button class="text-blue-500 hover:text-blue-600">
                            <svg class="w-5 h-5 mr-1 inline-block" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8"></path>
                            </svg>
                            Share
                        </button>
                    </div>


                    <div class='text-center mt-6'>

                        <a class='text-white bg-gray-800 hover:bg-[#53565a] py-2 px-4 rounded-[8px] font-500 ease-in duration-100 cursor-pointer'
                            href="<%= blog._id %>"
                            >
                            Read Blog
                        </a>

                    </div>
                    <div>

                        <p class="text-gray-500 text-sm mb-1">Rameez Qazi</p>
                        <p class="text-gray-500 text-sm">Created at <%= blog.createdAt %>
                        </p>
                    </div>
                </div>

                <% }) %>
        </div>
    </div>
</div>